@import "../../../styles/breakpoints.scss";

.userContainer {
  width: 100%;

  h5 {
    font-weight: 600;
    font-size: 24px;
    color: var(--primary-color);
    margin-bottom: 40px;
  }

  .userCardContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    margin-bottom: 40px;

    @include md {
      gap: 15px;
      grid-template-columns: repeat(2, 1fr);
    }

    @include xl {
      gap: 25px;
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .tableContainer {
    width: 100%;
    height: auto;
    padding: 20px 10px;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    position: relative;

    @include lg {
      padding: 30px 20px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    table thead {
      cursor: pointer;
    }

    th {
      padding: 0 5px;
    }

    table th .header {
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      h3 {
        font-weight: 600;
        font-size: 10px;
        color: var(--text-color) !important;
        display: flex;
        align-items: center;
        margin-right: 8px;
      }
    }

    table td {
      h6 {
        color: var(--text-color);
        font-weight: 400;
        font-size: 8px;

        @include md{
          font-size: 12px;
        }
      }
    }

    table tr:not(:last-child) {
      border-bottom: 1px solid rgba(33, 63, 125, 0.1);
    }

    table tr td {
      padding: 23px 5px;
    }

    .menuIconText {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      cursor: pointer;

      h2 {
        font-weight: 500;
        font-size: 12px;
        color: var(--text-color);
        margin-left: 10px;

        @include md {
          font-size: 14px;
        }
      }
    }

    @media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {

      table,
      thead,
      tbody,
      th,
      td,
      tr {
        display: block;
      }

      thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }

      tr {
        border: none;
      }

      tbody>tr {
        margin-top: 15px;
        border-radius: 4px;
      }

      tbody {
        height: auto;
      }

      td {
        border: none;
        position: relative;
        display: flex;
        justify-content: flex-end;
        padding: 10px 15px;
      }

      thead {
        display: none;
      }

      td:before {
        position: absolute;
        left: 0;
        width: 45%;
        white-space: nowrap;
      }

      td:before {
        font-size: 10px;

        @include md {
          font-size: 12px;
        }
      }

      td:nth-of-type(1)::before {
        content: 'ORGANIZATION';
      }

      td:nth-of-type(2):before {
        content: 'USERNAME';
      }

      td:nth-of-type(3):before {
        content: 'EMAIL';
      }

      td:nth-of-type(4):before {
        content: 'PHONE NUMBER';
      }

      td:nth-of-type(5):before {
        content: 'DATE JOINED';
      }

      td:nth-of-type(6):before {
        content: 'STATUS';
      }
    }
  }

  .paginationContainer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    .dropdownComponent {
      display: flex;
      gap: 5px;
      align-items: center;

      @include lg {
        gap: 10px;
      }

      h6 {
        font-weight: 400;
        font-size: 14px;
        color: var(--secendary-color);
      }

      h3 {
        font-weight: 400;
        font-size: 14px;
        color: var(--text-color);
      }

      .dropdown {
        color: var(--primary-color);
        background: rgba(33, 63, 125, 0.1);
        border-radius: 4px;
        display: flex;
        padding: 10px;
        gap: 10px;
        align-items: center;

        h6 {
          font-weight: 500;
          font-size: 14px;
          color: var(--primary-color);
        }


      }
    }

    .paginationComponent {
      display: flex;
      gap: 10px;

      @include lg {
        gap: 20px;
      }

      .arrowContainer {
        button {
          background: rgba(33, 63, 125, 0.1);
          border-radius: 4px;
          width: 25px;
          height: 25px;
        }
      }

      .disabled {
        button {
          background: rgba(33, 63, 125, 0.03);
        }

        svg path {
          fill: rgba(33, 63, 125, 0.6)
        }
      }
    }
  }
}